<!DOCTYPE html>
<html>
<head>
<title>Facebook API Test</title>
<meta charset="UTF-8">
  <script src="jquery/dist/jquery.js"></script>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>
<script>
  function statusChangeCallback(response) {

    if (response.status === 'connected') {
      returnData();
    } 
    else if (response.status === 'not_authorized') {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } 
    else {
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '553335014769463',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.2' // use version 2.2
    });
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  };


  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function returnData() {
    FB.api('/me', function(response) {
      var fbData = {
        name:response.name,
        email:response.email
      };
      $.ajax({
        type:"POST",
        data: fbData,
        url: "http://localhost:1337/setCookie",
        success: function (response)
        {
          window.location.href = "http://localhost:1337/match";
        },
        error: function (response)
        {
          
        }
      });
      //document.getElementById('username').innerHTML ='Name: ' + response.name;
      //document.getElementById('useremail').innerHTML =' Email: ' + response.email;
    });
  }

</script>
<style>
  .fb_iframe_widget
  {
    display: block;
    width: 160px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
  ._4z_f .fwb
  {
    padding: 0px 0px;
  }
</style>

<div class="center_box">
  <h1 class="center">Welcome to the Deserted Island</h1>
  <p class="center">Please sign in with facebook to find your island match!</p>
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin: 1px 188px;">Sign In</fb:login-button>
</div>
</body>
</html>